<div class="student-edit">
    <div class="student-edit-title">
        <p>Edit Student</p>
    </div>
    <div class="student-edit-form">
        <%= render "form", student: @student %>
    </div>
</div>