<div class="student-new">
    <div class="student-new-title">
        <p>New Student</p>
    </div>
    <div class="student-new-form">
        <%= render "form", student: @student %>
    </div>
</div>