<div class="department-edit">
    <div class="department-edit-title">
        <p>Edit Department</p>
    </div>
    <div class="department-edit-form">
        <%= render "form", department: @department %>
    </div>
</div>