<div class="department-new">
    <div class="department-new-title">
        <p>New Department</p>
    </div>
    <div class="department-new-form">
        <%= render "form", department: @department %>
    </div>
</div>