<div class="home-page">
    <div class="home-page-title">
        <p>Welcome to Department Management System</p>
    </div>
    <div class="home-page-body">
        <p>A Database Management System (DBMS) is a set of computer programs that controls the creation,
         maintenance, and the use of the database of an organization and its end users. 
         It allows organizations to place control of organization-wide database development 
         in the hands of database administrators (DBAs) and other specialists. DBMSes may use any of 
         a variety of database models, such as the network model or relational model. In large systems, 
         a DBMS allows users and other software to store and retrieve data in a structured way. 
         It helps to specify the logical organization for a database and access and use the information 
         within a database. It provides facilities for controlling data access, enforcing data integrity,
          managing concurrency controlled, restoring database.
        </p>
    </div>
</div>